<style>
  body{
  margin: 0;
font-family: Gordita,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: #efefef;
text-align: left;
background-color: #c84802;
}
nav ul{
  display: grid;
  border-radius: 50px;
  background-color: antiquewhite;
  grid: 30px / auto auto auto;
  gap:10px;
  font-weight: 700;
  text-transform: capitalize;
}
</style>
<!-- <p-pro-ng-nx-nx-welcome-remote></p-pro-ng-nx-nx-welcome-remote> -->
<h1>Angular Router App - Remote or Micro App</h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <li><a routerLink="remote/first-component" routerLinkActive="active" ariaCurrentWhenActive="page">First Component</a></li>
    <li><a routerLink="remote/second-component" routerLinkActive="active" ariaCurrentWhenActive="page">Second Component</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>