
<h1 style="font-size: 28px; font-weight: 700;">Building and deploying a Data Mesh platform</h1>

<h2 style="font-size: 16px; font-weight: 700;">Challenges</h2>
<p>
The customer is a Fortune 500 company dealing with large scale production and distribution of beer products in US
Multiple groups within the organization needed data for making key decisions, to roll out promotions, and to forecast sales across regions
Needed a tech platform that allowed for agility while also ensuring that the enterprise constraints for security, and governance were adhered to
Wanted to use various data types: structured, unstructured, semi structured and use AI strategy decisions.

</p>
<h2 style="font-size: 16px; font-weight: 700;">Solutions</h2>
<ul>
  <li>
    Developed and deployed data mesh architecture
  </li>
  <li>
    Created data domains for different business needs - sales, marketing, analytics, forecasting
  </li>
  <li>
    Cloud migration with data-as-a-service approach with Snowflake as data platform.
  </li>
  <li>
    Self-service centralized data engineering platform that provides analytical database as a platform; DataOps — data and workflow orchestration as code, data quality testing and profiling as code, data transformation as code, version control / CI / CD, monitoring, alerting and logging; and event streaming as a platform.
  </li>
</ul>

 
